<mat-sidenav-container class="sidenav-container">
  <!-- position="end", to make it right side -->
  <mat-sidenav opened="true" mode="side" position="start">
    <!--  side bar shouldn't have to filter it out -->
    <app-sidebar  
        [sideBarList]="getSubTopics(topicList)"
        (eventEmitter)="displayTopic($event)">
      </app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Probably want to add a router  -->
    <div>{{ title }}</div>
  </mat-sidenav-content>
</mat-sidenav-container>