.word {
  text-align: center;   
  vertical-align: top
}

td {
 border: 1px solid;
  border-image: linear-gradient(to bottom, #ccc, #fff) 1;
}

::ng-deep .images {
  max-height: 550px;
}

::ng-deep span.test {
  color: #FFA500;
}

::ng-deep span.topic {
  color: skyblue;
}

::ng-deep span.code {
  color: green;
}